.contactContainer {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	place-items: center;
	background-color: rgb(249, 245, 231);
	display: grid;
	grid-template-columns: 4fr 4fr;
	position: fixed;
}
.div1 {
	display: flex;
}

.div2 {
	display: flex;
}
@keyframes mailBtnAnimation {
	to {
		transform: translateX(0);
	}
}
