.loading {
	width: 99vw;
	height: 150vh;
	background-color: white;
	display: grid;
	place-items: center;
}

.loading > div {
	width: 10%;
	height: 10%;
	top: 25%;
	left: 33%;
	position: absolute;
}

@keyframes loadingRotate {
	to {
		transform: rotateZ(-360deg);
	}
}
