* {
	margin: 0;
	padding: 0;
	font-family: "Arvo";
}

.main {
	height: 30vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.main > h1 {
	text-align: center;
	text-transform: uppercase;
	color: rgb(133, 88, 111);
	font-size: 4rem;
}

.roller {
	height: 4.125rem;
	line-height: 4rem;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	color: rgb(172, 125, 136);
}

#spare-time {
	font-size: 1rem;
	font-style: italic;
	letter-spacing: 1rem;
	margin-top: 0;
	color: rgb(172, 125, 136);
}

.roller #rolltext {
	position: absolute;
	top: 0;
	animation: slide 10s infinite;
}

@keyframes slide {
	0% {
		top: 0;
	}
	25% {
		top: -4rem;
	}
	50% {
		top: -8rem;
	}
	72.5% {
		top: -12.25rem;
	}
}

body {
	background-color: rgb(249, 245, 231);
}
.banner {
	text-align: center;
	height: 100vh;
	background-color: rgb(92, 88, 88);
}

.Carosel {
	background-color: black;
	text-align: center;
	height: 100%;
}
.how {
	padding-top: 1.5%;
	align-items: center;
}
.how > h1 {
	color: rgb(222, 182, 171);
	text-align: center;
	font-family: Tahoma, sans-serif;
	border-bottom: 1px transparent rgba(21, 21, 21, 0.5);
}
.MuiCardContent-root > h3 {
	height: "50";
	font-family: Georgia, serif;
	color: rgb(133, 88, 111);
	text-align: center;
}

.cards {
	color: rgb(222, 182, 171);
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 5%;
	justify-content: space-between;
}
.grid:hover {
	transform: translateY(-1vmax);
}
.Card {
	background-color: rgb(222, 182, 171);
	justify-content: space-between;
}
.title {
	top: 0%;
	right: 3%;
	color: rgb(0, 0, 0);
	position: absolute;
	z-index: 1;
	align-items: right;
}
.title > image {
	position: fixed;
	align-items: right;
}
.title > h1 {
	text-align: center;
	font-size: 22px;
	font-family: Copperplate, Papyrus, fantasy;
	color: rgba(0, 0, 0, 0.53);
	background-color: hsla(0, 0%, 100%, 0.3);
	border-bottom: 1px solid rgba(21, 21, 21, 0.5);
}

.title > p {
	text-align: right;
	font-family: cursive;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.53);
	background-color: hsla(0, 0%, 100%, 0.3);
}
.banner > h1 {
	margin: 4vmax;

	font: 300 3.5vmax "Times New Roman";
}

.banner > p {
	margin: 4vmax;
	font: 600 1.5vmax "Lucida Sans";
}

.banner > a > button {
	margin-bottom: 5vmax;
	cursor: pointer;
	background-color: white;
	border: 1px solid white;
	border-radius: 0;
	padding: 1vmax;
	transition: all 0.5s;
	width: 9vmax;
	font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
	background-color: rgba(255, 255, 255, 0);
	color: white;
}

.banner::after {
	content: "";
	width: 100vw;
	height: 100vmin;
	max-width: 100%;
}

.homeHeading {
	text-align: center;
	font-family: "Roboto";
	font-size: 2.4vmax;
	border-bottom: 1.5px solid rgb(172, 125, 136);
	width: 20vmax;
	padding: 1vmax;
	margin: 5vmax auto;
	color: rgb(172, 125, 136);
}

.services {
	padding-top: 5%;
	max-height: 800;
	padding-bottom: 5%;
	background-color: rgb(248, 234, 216);
	padding-left: 5;
	padding-right: 5;
	row-gap: 2;
}

.service:hover {
	transform: translateY(-1vmax);
}
.explore {
	align-items: center;
	padding-top: 5%;
	text-align: center;
}
.explore > button {
	padding: 10px;
	display: inline-block;
	outline: 0;
	border: 0;
	margin: -1px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	cursor: pointer;
	background-color: rgb(172, 125, 136);
}
.explore > button:hover {
	background: rgb(222, 182, 171);
	transition: all 0.4s ease-in-out;
}
.services > h1 {
	/* padding-top: 1%; */
	padding-bottom: 1%;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 3rem;
	color: rgb(172, 125, 136);
	text-transform: uppercase;
}

.services:hover {
	visibility: visible;
}

.service1 {
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	justify-content: space-around;
	/* background-color: rgb(245, 235, 235); */
	display: flex;
	flex-direction: row;
	padding-left: 50;
	padding-right: 50;
}

.container {
	display: flex;
	margin: 2vmax auto;
	width: 80vw;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
}

.profileCard {
	width: 20vmax;
	/* width: 150; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	color: rgb(48, 48, 48);
	margin: 2vmax;
	transition: all 0.5s;
	padding-bottom: 0.5vmax;
	background-color: rgb(248, 234, 216);
	border-radius: 10;
}
.stars {
	color: rgb(172, 125, 136);
}

.profileCard > img {
	width: 20vmax;
	border-radius: 10;
}

.profileCard > div {
	margin: 0.5vmax;
	display: flex;
	justify-content: flex-start;
}

.profileCard > div > Span {
	margin: 0.5vmax;
	font: 1.5vmax "Roboto";
	font-weight: bold;
	color: rgb(172, 125, 136);
}

.profileCard > p {
	font-size: 2rem;
	color: rgb(133, 88, 111);
	margin-top: -5px;
	margin-bottom: 0;
	text-align: center;
	background-color: rgb(249, 245, 231);
}

.profileCard > span {
	margin: 0.5vmax;
	color: rgb(172, 125, 136);
	font-size: 1.5vmax;
	border-top: 2px;
	margin-top: -2px;
}

.profileCard:hover {
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

	transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
	.profileCard > p {
		font-size: 2.5vmax;
		align-items: center;
	}
	.banner {
		align-items: center;
		display: block;
	}

	.profileCard > div {
		text-align: center;
		margin: 2.5vmax;
		display: block;
	}

	.profileCard > span {
		text-align: center;
		font-size: 3vmax;
	}

	.profileCard > div > span {
		text-align: center;
		margin: 0 0.5vmax;
		font: 350 1vmax "Roboto";
	}
}
